@model portfolio.Models.Users
@{
    ViewBag.Title = "Loginos";
}

<h2>Loginos</h2>

<div class="panel panel-success">
	<div class="panel-heading">
		<i class="glyphicon glyphicon-user"></i>
		Вход пользователя
	</div>
	<div class="panel-body">

		<h3>@ViewBag.login</h3>
	    @using (Html.BeginForm())
		{

			@Html.AntiForgeryToken()
			<div class="col-lg-4 col-md-4">
				<table class="table table-hover">
					<tr>
						<td>Логин</td>
						<td>@Html.TextBoxFor(mlogin => Model.login,new  { HtmlAttributes= new {@class = "form-control" }  })
						
						  @Html.ValidationMessageFor(mlogin => Model.login, "", new {@class="text-danger" })
						</td>
					</tr>
					<tr>
						<td>Пароль</td>
						<td>@Html.PasswordFor(mPass => Model.passw, new { htmlAttributes = new { @class = "form-control" } })
						    @Html.ValidationMessageFor(mPass=>Model.passw, "", new { @class="text-danger"})
						</td>
					</tr>
					<tr>
						<td>
							<button type="submit" class="btn btn-success">
								Вход
							</button>
						</td>
						<td><a class="btn btn-danger" href="#">Отмена</a></td>
					</tr>
				</table>

			</div>

		}
	</div>
</div>

